/* ==================  Start of Home Page CSS ================*/

* {
  outline-offset: -1px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'chalk-sketch';
  src: url('/css/fonts/kgblankspacesketch-webfont.woff2') format('woff2'),
       url('/css/fonts/kgblankspacesketch-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk-regular';
  src: url('/css/fonts/kgblankspacesolid-webfont.woff2') format('woff2'),
       url('/css/fonts/kgblankspacesolid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("/img/green-chalkboard.jpg");
  background-size: 100%;
  margin: auto;
  width: 960px;
  color: wheat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  /* display: flex; */
  /* flex-direction: row;
  justify-content: space-evenly; */
  margin-top: 60px;
  
}

a {
  font-family: 'chalk-regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  color: rgb(247, 213, 152);
  text-decoration: none;
}
a:hover {
  color: lightgoldenrodyellow;
}

 /* header > nav > ul > li {
  display: inline-block; */
  /* padding: 0 45px;  */
  /* margin: 45px;
  margin-top: 65px; 
  outline: dotted 2px cornflowerblue;
}  */


#leftnav {
  float: left;
  
 
}

#leftnav > li{
  display: inline-block;
  /* margin-left: 45px; */
  margin: 45px;
  margin-top: 65px;


}

#rightnav {
  float: right;
  
    
}

#rightnav > li{
  display: inline-block;
  margin-right: 45px;
  margin-top: 65px;


}


nav > img {
  height: 150px;
  border-radius: 35px;
  /* padding: 0 50px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly;  */
  margin-left: 75px;
  margin-right: 10px;
   
  
}

#welcome > h1 {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'chalk-sketch','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcomeP > p {
  text-align: justify;
  width: 700px;
  margin: auto; 
  margin-bottom: 30px;
}

#resourceLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#suppliesImg {
  width: 75px;
  height: 75px;
  border-radius: 45px;
  border: black 2px outset;
}
#classroomImg {
  width: 75px;
  height: 75px;
  border-radius: 45px;
  border: black 2px outset;
}

#activitiesImg {
  width: 75px;
  height: 75px;
  border-radius: 45px;
  border: black 2px outset;
}

#resourceTable{
  height: 300px;
  margin-bottom: 30px;
  
}

#resourceTable > p{
  background-image: url('/img/black-chalkboard_2.jpg');
  width: 500px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  margin-left: 230px;
  margin-bottom: 30px;
 
   
}

#resourceTable > table {
  width: 400px;
  height: 250px;
  position: absolute;   
  z-index: 10; 
  margin-left: 265px;
  margin-top: 10px;
  color: red;
}

/* =========== About Us CSS ========= */

#teamProfile > ul > li > img{
  height: 300px;
  /* width: 250px; */
  border-radius: 95px;
}




footer { 
  bottom: 0;
}

#bottomNav{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#contactInfo {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 75px;
}


#tutor-registration-form {
  border: solid black 2px;
  border-radius: 10px;
  width: 65%;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

legend, #button {
  text-align: center;
}

legend {
  font-weight: bold;
  padding: 10px 0px 10px 0px;
}

#tutor-registration-form > fieldset > div {
  margin: 10px 0px 10px 0px; 
}

#tutor-registration-form > fieldset > div > input {
  width: 350px;
}

#tutor-registration-form > fieldset > #button > input {
  width: 70px;
}

#tutor-registration-form > fieldset > div > label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 150px;
}

/* Source:https://css-tricks.com/tips-for-creating-great-web-forms/ */

#confirmation-registration-container p {
  /* width: 300px;  TODO: Make it more presentable with reduced width and confetti */
}

#tableContainer {
  background-image: url("/img/chalkboardTable.jpg");
  height: 600px;
  margin: 0 auto;
  margin-top: 30px;
  width: 900px;
  padding: 20px;
  border: rgba(88, 28, 33, 0.847) groove 20px;
  display: flex;
  justify-content: center;
}

#tableOfTutors {
  padding: 20px;
  width: 830px;
}

#tableOfTutors, #tableOfTutors th, #tableOfTutors td {
  border: solid white 3px;
  border-collapse: collapse;
  color: white;
}

#tableOfTutors td {
  padding: 5px;
  vertical-align: middle;

}

#tableOfTutors th {
  font-weight: bold;
  padding: 5px;
  vertical-align: middle;
  font-size: 15pt;
}

#threePics {
  margin: 40px;
}

#threePics ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ============= CSS RULES FOR TUTOR TABLE LIST PAGE (END) =========== */